/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #6366f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #4338ca;
}

/* General Styles */
.autoComplete_wrapper {
  width: 100%;
}

#disclaimer {
  max-width: 24rem;
}

.content-container div {
  min-width: 400px;
}

/* Responsive Styles */
@media (max-width: 425px) {
  body {
    background-color: white !important;
  }

  .content-container div {
    min-width: 100%;
  }

  .content-container {
    box-shadow: none;
  }
}

/* Input Styles */
#autocomplete-input {
  overflow-x: hidden;
  width: 100%;
  border: 1px solid #4338ca;
  background-color: white;
  border-radius: 50px;
  height: 48px;
  color: black;
}

#autocomplete-input::placeholder {
  color: #9ca3af;
}

/* Highlight Styles */
.autoComplete_highlight {
  color: #4338ca !important;
}

/* Additional Styles */
.autocomplete_capacity {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 100;
  text-transform: uppercase;
  color: #6366f1;
}

.autocomplete-year {
  font-size: 13px;
  font-weight: 100;
  text-transform: uppercase;
  color: #4b5563;
}
